{% extends 'db/location4base.html' %}
{% load static %}
  {% block content %}
<head>
  <style media="screen">
    .bar{
      width:40%;
      float:left;
    }
    .chart{
      width:58%;
      height:500px;
      float:left;
    }
    .ht1{
      color:white;
      background:rgb(84, 226, 226);
      text-align:center;
      font-size:20px;
    }
    .ht{
      color:rgb(84, 226, 226);
      background:gray;
      text-align:center;
      font-size:20px;
    }
    #left{
      width:60%;
      float:left;
      margin-right:2%;
    }
    #right{
      width:38%;
      float:left;
      height:400px;
    }
  </style>

  </head>
  <script>

  {% block jquery %}

  var endpoint = 'locfour-camdash'

  $.ajax({
    method:"GET",
    url:endpoint,
    success: function(data){

      console.log(data)
      var ctx = document.getElementById('myChart').getContext('2d');
      var myChart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: {{labels|safe}},
          datasets: [{
              label: 'Sum of total days rec ',
              fill:false,
              data: {{DefaultData|safe}},
                      backgroundColor: [

                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: "#FA2C00",

              borderWidth: 2
          },{
            label:'sum of base line rec',
            fill:false,
            data:{{DefaultData1|safe}},

            borderColor:"#0400FA",
            borderWidth: 2
          },
          {
            label:"sum of total waring",
            fill:false,
            data:{{DefaultData2|safe}},
            borderColor:"#000100",
            borderWidth: 2
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
              }]
          }
      }
  });
    },
    error:function(error_data){
      console.log(error_data)
    }
  })
    </script>
    <script>
      var endpoint = 'locfour-camdash'

      $.ajax({
        method:"GET",
        url:endpoint,
        success: function(data){

          console.log(data)
          var ctx = document.getElementById('barChart').getContext('2d');
          var barChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: {{labels_r|safe}},
              datasets: [{
                  label: 'Sum of total no. of channels',
                  fill:false,
                  data: {{DefaultData_r|safe}},
                          backgroundColor: [

                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: "#FA2C00",
                  backgroundColor:"#FA2C00",

                  borderWidth: 2
              },{
                label:'sum of total cameras',
                fill:false,
                data:{{DefaultData_r_1|safe}},
                borderColor:"#0400FA",
                backgroundColor:"#0400FA",
                borderWidth: 2
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
              }
          }
      });
        },
        error:function(error_data){
          console.log(error_data)
        }
      })

    </script>


  {% endblock %}

  <div id="left">
  <table >

    <h6 class="ht1">Camera Dashboard</h6>
    <thead>
      <tr>
        <th>Nvr DVRr</th>
        <th>location</th>
        <th>sum of total days rec</th>
        <th>sum of baseline days rec</th>
        <th>sum of storage warning</th>

      </tr>
    </thead>
    {% for c in cameradash %}
    <tr>
      <td> {{c.nvr_dvr}}</td>
      <td> {{c.location}}</td>
      <td>{{c.sum_total_days_rec}}</td>
      <td>{{c.sum_of_baseline_days_rec}}</td>
      <td>{{c.sum_of_storage_warning}}</td>


    </tr>
    {% endfor %}
    </table>
    </div>
    <div id="right">
    <table >
      <h6 class="ht">Row label</h6>
      <thead>
        <tr>
          <th>Row Label</th>
          <th>Sum of number of channels</th>
          <th>sum of total cameras</th>
        </tr>
      </thead>
      {% for c in rowlabel %}
      <tr>
        <td> {{c.row_labels}}</td>
        <td> {{c.sum_of_no_of_channels}}</td>
        <td>{{c.sum_of_total_cameras}}</td>


      </tr>
      {% endfor %}
  </table>
  </div>
  <div class="chart">
    <canvas id="myChart" width ="70px" height="50px"></canvas>

  </div>
  <div class="bar">
    <canvas id="barChart" width="300" height="300"></canvas>

  </div>




{%endblock content%}
